*.exe
*.lib
*.obj
*.dll
ipch/
*/ipch/
*.pdb
*.tlog
*.manifest
*.lastbuildstate
*.unsuccessfulbuild
*.cache
*.log
*.vsp

Debug/
*/Debug/
Release
*/Release/

NoGit/

*.sdf
*.opensdf
*.suo
*.vcxproj.user
*.psess

thumbs.db
desktop.ini
